@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, * {
    font-family: 'IBM Plex Mono', monospace;
  }
}

html{
  background-color: #E8EAEE;
}

.active {
  border-bottom: 3px solid red;
}

img{
  border-radius: 10px;
  overflow: hidden;
}

li img{

}